In [1]:
# dataframe is main object in Pandas framework. it is data structure used to represent data with rows
# and columns ( tabular or excel spreadsheet like data )
# creating dataframes
# dealing with rows and columns
# Operations: min max std descibe
# Conditional selection
# set_index

In [2]:
import pandas as pd
df = pd.read_csv("book.csv")
df

      name    class  section
0   hassam   7th sem       a
1    ahmad   8th sem       b
2  qureshi   9th sem       c
3    uzair  10th sem       d
4  shahher  11th sem       e

In [3]:

weather_data= {
    'day' : ['1/1/24','1/2/24','1/3/24','1/4/24','1/5/24'],
    'event' : ['rain','sunny','snow','mild','storm'],
    'temperature' : [23,25,21,40,35],
    "windspeed" : [6,7,3,10,2]
}
df = pd.DataFrame(weather_data)
df

      day  event  temperature  windspeed
0  1/1/24   rain           23          6
1  1/2/24  sunny           25          7
2  1/3/24   snow           21          3
3  1/4/24   mild           40         10
4  1/5/24  storm           35          2

In [4]:
# it's kind of of tuple in which (5,4) means rows and columns
rows, columns = df.shape
df.shape
rows

5

In [8]:
columns

4

In [15]:
# gives the first few lines, here it gives 4 but there is no much difference but it is very helpful while dealing with big data
df.head()

      day  event  temperature  windspeed
0  1/1/24   rain           23          6
1  1/2/24  sunny           25          7
2  1/3/24   snow           21          3
3  1/4/24   mild           40         10
4  1/5/24  storm           35          2

In [18]:
# we also can store 1 2 or 3 rows so for that
df.head(2)

      day  event  temperature  windspeed
0  1/1/24   rain           23          6
1  1/2/24  sunny           25          7

In [19]:
df.tail() # it will print the last rows

      day  event  temperature  windspeed
0  1/1/24   rain           23          6
1  1/2/24  sunny           25          7
2  1/3/24   snow           21          3
3  1/4/24   mild           40         10
4  1/5/24  storm           35          2

In [20]:
df.tail(2) # like this

      day  event  temperature  windspeed
3  1/4/24   mild           40         10
4  1/5/24  storm           35          2

In [21]:
# we can also do indexing technique like we do in python so for that 
df[1:4]

      day  event  temperature  windspeed
1  1/2/24  sunny           25          7
2  1/3/24   snow           21          3
3  1/4/24   mild           40         10

In [22]:
df[:] # to print everything simply [:] index this

      day  event  temperature  windspeed
0  1/1/24   rain           23          6
1  1/2/24  sunny           25          7
2  1/3/24   snow           21          3
3  1/4/24   mild           40         10
4  1/5/24  storm           35          2

In [23]:
df.columns

Index(['day', 'event', 'temperature', 'windspeed'], dtype='object')

In [15]:
df.day # to print individual columns

0    1/1/24
1    1/2/24
2    1/3/24
3    1/4/24
4    1/5/24
Name: day, dtype: object

In [6]:
# we can do it like that
df['event'] # same as printing individual columns

0     rain
1    sunny
2     snow
3     mild
4    storm
Name: event, dtype: object

In [7]:
df[['event','day','temperature']]

   event     day  temperature
0   rain  1/1/24           23
1  sunny  1/2/24           25
2   snow  1/3/24           21
3   mild  1/4/24           40
4  storm  1/5/24           35

In [10]:
df['temperature'].max()

np.int64(40)

In [11]:
df['temperature'].min()

np.int64(21)

In [12]:
df['temperature'].std()

np.float64(8.258329128825032)

In [13]:
df['temperature'].mean()

np.float64(28.8)

In [14]:
df.describe() # it does statistics on these columns

       temperature  windspeed
count     5.000000   5.000000
mean     28.800000   5.600000
std       8.258329   3.209361
min      21.000000   2.000000
25%      23.000000   3.000000
50%      25.000000   6.000000
75%      35.000000   7.000000
max      40.000000  10.000000

In [18]:
df[df.temperature>=25]

      day  event  temperature  windspeed
1  1/2/24  sunny           25          7
3  1/4/24   mild           40         10
4  1/5/24  storm           35          2

In [21]:
df[df.temperature==df.temperature.max()]

      day event  temperature  windspeed
3  1/4/24  mild           40         10

In [25]:
df[['day','temperature']][df.temperature==df.temperature.max()]

      day  temperature
3  1/4/24           40

In [5]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
df

      day  event  temperature  windspeed
0  1/1/24   rain           23          6
1  1/2/24  sunny           25          7
2  1/3/24   snow           21          3
3  1/4/24   mild           40         10
4  1/5/24  storm           35          2

In [8]:
df.set_index('day') # it makes the day a zero index

        event  temperature  windspeed
day
1/1/24   rain           23          6
1/2/24  sunny           25          7
1/3/24   snow           21          3
1/4/24   mild           40         10
1/5/24  storm           35          2

In [12]:
df

        event  temperature  windspeed
day
1/1/24   rain           23          6
1/2/24  sunny           25          7
1/3/24   snow           21          3
1/4/24   mild           40         10
1/5/24  storm           35          2

In [14]:
df.loc['1/1/24']

event          rain
temperature      23
windspeed         6
Name: 1/1/24, dtype: object

In [15]:
df.reset_index(inplace=True) # it will reset the df to the original df

In [16]:
df

      day  event  temperature  windspeed
0  1/1/24   rain           23          6
1  1/2/24  sunny           25          7
2  1/3/24   snow           21          3
3  1/4/24   mild           40         10
4  1/5/24  storm           35          2

In [17]:
df.set_index('event', inplace=True)
df

          day  temperature  windspeed
event
rain   1/1/24           23          6
sunny  1/2/24           25          7
snow   1/3/24           21          3
mild   1/4/24           40         10
storm  1/5/24           35          2

In [19]:
df.loc['snow']

day            1/3/24
temperature        21
windspeed           3
Name: snow, dtype: object